<% include ../partials/header.ejs %>

<!--
COMP308-W2019-MidTerm-300950009

File name: auth/login.ejs
Student's name: Hyojin Kim
Student's number: 300950009
Date: February 25, 2019
-->

    <!-- MAIN CONTENT -->
    <main class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <h1>Please Login</h1>
                <form method="POST">
                    <fieldset class="form-group">
                        <label for="username">Username: </label>
                        <input type="text" class="form-control" id="username"
                        name="username" placeholder="Enter username" required autofocus>
                    </fieldset>
                    <fieldset class="form-group">
                            <label for="password">Password: </label>
                            <input type="password" class="form-control" id="password"
                            name="password" placeholder="Enter password" required>
                            or
                            <a href="/register">Register Here</a>
                    </fieldset>
                    <fieldset class="form-group text-right">
                        <input type="submit" class="btn btn-success" value="Login">
                        <a href="/">
                            <input type="button" class="btn btn-warning" value="Cancel">
                        </a>
                    </fieldset>
                </form>
            </div>
        </div>
    </main>

<% include ../partials/footer.ejs %>